
astroid==2.4.2

Automat==20.2.0
autopep8==1.4.4

certifi==2020.12.5

chardet==4.0.0
colorama==0.4.1
constantly==15.1.0

cssselect==1.1.0
dj-database-url==0.5.0
django==3.1.6
django-cors-headers==3.7.0
django-heroku==0.3.1
django-webpack-loader==0.7.0


incremental==17.5.0
isort==4.3.21

lazy-object-proxy==1.4.3

mccabe==0.6.1
numpy==1.9.2
pandas==1.1.5

Protego==0.1.16

pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0

PyDispatcher==2.0.5
PyHamcrest==2.0.2
pylint==2.5.3

python-dateutil==2.8.1

pywin32==300
queuelib==1.5.0
redis==2.10.6
requests==2.25.1
schedule==1.0.0

service-identity==18.1.0
six==1.12.0
scrapy==2.4.1
toml==0.10.1

typed-ast==1.4.0
urllib3==1.26.3

whitenoise==5.2.0
wincertstore==0.2
wrapt==1.11.2

